<header>
  <div class="coverCoverButton">
    <div class="coverButtonTop"></div>
      <a href="#" class="button violet" [routerLink]="['/inicio']" [routerLinkActive]="['actived']">
        <span class="overbutton">Inicio</span>
      </a>
    <div class="coverButtonBottom"></div>
    <div class="coverButtonTriangle"></div>
  </div>
  <div class="coverCoverButton">
    <div class="coverButtonTop"></div>
      <a href="#" class="button violet" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">
        <span class="overbutton">Sobre Mi</span>
      </a>
    <div class="coverButtonBottom"></div>
    <div class="coverButtonTriangle"></div>
  </div>
  <div class="coverCoverButton">
    <div class="coverButtonTop"></div>
      <a href="#" class="button violet" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">
        <span class="overbutton">Proyectos</span>
      </a>
    <div class="coverButtonBottom"></div>
    <div class="coverButtonTriangle"></div>
  </div>
  <div class="coverCoverButton">
    <div class="coverButtonTop"></div>
      <a href="#" class="button violet" [routerLink]="['/contacto']" [routerLinkActive]="['actived']">
        <span class="overbutton">Contacto</span>
      </a>
    <div class="coverButtonBottom"></div>
    <div class="coverButtonTriangle"></div>
  </div>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript de victorroblesweb.es
</footer>
