<div class="container">
<h1>Contacto</h1>
<div  id="texto" #textos>
  <p appResaltado>
    Esta es la pagina de contacto, puedes Enviarnos cualquier duda
  </p>
</div>


<!-- Ejemplo de pasar atributos de pader "contact" a hijo "slider" -->
<!-- Tamaño del slider:
<input type="number" [(ngModel)]="widthSlider"/>
<button (click)="cargarSlider()">Cargar Slider</button>
<button (click)="resetearSlider()">Resetear Slider</button>


<div *ngIf="anchuraToSlider">
  Tamaño del slider: <strong>{{anchuraToSlider}}</strong>
  <app-slider [anchura]="widthSlider"
              [etiquetas]="captions"
              (getAuthor)="getAuthor($event)"></app-slider>
  </div>

{{author.nombre}} - {{author.web}}
</div> -->
