@font-face{
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}

@font-face{
  font-family: "finger";
  src: url("fonts/finger.ttf");
}


/* Generales */

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "yanone", "Arial", "Helvetica";
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}

.clearfix{
  float:none;
  clear: both;
}


/* Barra de navegacion / cabecera */

header{
  display: grid;
  width: 800px;
  height: 120px;
  background: rgba(53, 103, 164, 0.8);
  text-transform: uppercase;
  grid-template-columns: 25% 25% 25% 25%;
  position: absolute;
}


  /* hexagon button */
.coverCoverButton{
  position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:80px;
	line-height:70px;
	text-align:center;
	margin:0px auto;
}

.coverButtonTriangle{
  position: absolute;
  left: 29px;
  top: 80px;
  width: 117.6px;
  height: 0;
  border-left: 15px solid rgb(249, 210, 249);
  border-right: 15px solid rgb(249, 210, 249);
  border-top: 20px solid rgb(249, 210, 249);
  -webkit-transform: perspective(15px) rotateX(-6.3deg);
  -moz-transform: perspective(15px) rotateX(-6.3deg);
  transform: perspective(15px) rotateX(-6.3deg);
  clear: both;
  animation: disableButtonTriangle 0.5s forwards;
}

.triangleActive{
  animation: enableButtonTriangle 0.5s forwards;
}

.coverButtonTriangleActive{
  border-left: 15px solid violet;
  border-right: 15px solid violet;
  border-top: 20px solid violet;
}

.coverButtonTop,
.coverButtonBottom{
  position: absolute;
  display:block;
  background: transparent;
  left: 15px;
  width:170px;
  height:30px;
  line-height:30px;
  text-align:center;
  border: 3px solid rgb(249, 210, 249);

}

.coverButtonTop{
  top:0px;
  border-bottom: none;
  -webkit-transform: perspective(15px) rotateX(5deg);
  -moz-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);
  animation: disableCoverTop 0.5s forwards;
}

.topActive{
  animation: enableCoverTop 0.5s forwards;
}

.coverButtonBottom{
  bottom: 0px;
  border-top: none;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
  animation: disableCoverBottom 0.5s forwards;
}

.bottomActive{
  animation: enableCoverBottom 0.5s forwards;
}

.coverButtonTopActive{
  border: 3px solid violet;
  border-bottom: none;
}

.coverButtonBottomActive{
  border: 3px solid violet;
  border-top: none;
}

  /* General Button Style */
.button{
  position: relative;
  display: block;
  background: transparent;
  width: 150px;
  height: 70px;
  line-height: 70px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  top: 5px;
  left: 25px;
}
.button::before, .button::after {
	width:145px;
  left: 2px;
	height:25px;
  z-index: -1;
  border: 3px solid violet;
}

.button::before{
  position: absolute;
  top: 0px;
  content: '';
  border-bottom: none;
  -webkit-transform: perspective(15px) rotateX(5deg);
  -moz-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);
}
.button::after{
  position: absolute;
  bottom: 0px;
  content: '';
  border-top: none;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
}

/* Button Hover Style */
.button::before,
.button::after {
    animation: disableButton 0.5s forwards;
}


.button:hover::before,
.button:hover::after {
    animation: enableButton 0.5s forwards;
}

.button span{
  border-radius: 5px;
  padding: 5px 26px;
  animation: enableButtonSpan 0.5s forwards;
}


.button:hover span{
  padding: 5px 26px;
  animation: disableButtonSpan 0.5s forwards;
}
/* Barra de navegacion / cabecera */


/* Contenedor principal */

#content{
  min-height: 800px;
  width: 75%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  background: rgba(255,255,255,0);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr
}

/* Pie de pagina */

footer{
  width: 75%;
  margin: 0px auto;
  padding-top: 15px;
  color: rgba(0,0,0,0.5);
}

/* Sobre mi */

#title{
  width: 70%;
  margin: 0px auto;
  text-align: center;
  /* margin-top: 20px; */
  margin-bottom: 70px;
}

#title h1{
  font-family: "finger";
  font-size: 60px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
}

#title h2{
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.indexTitle{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1
}

article.about{
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.about p{
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

/* Seccion con formulario */

.container{
  padding-top: 10px;
  padding: 50px;
}

.container .image{
  float: left;
  width: 49%;
}

.container .image img{
  width: 100%;
}

.container .data{
  float: left;
  width: 47%;
  margin-left: 30px;
}

.container h2{
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

form{
  width: 100%;
}

form label{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
  width: 40%;
  padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
  display: block;
  font-size: 17px;
  padding: 5px;
  margin-top: 15px;
  color:white;
  background: rgba(53,103,164,1);
  border: 1px solid rgba(13,67,133,1);
  cursor:pointer;
}

.button-edit,
.button-delete{
  width: 30%;
  text-align: center;
  float: left;
  margin-right: 10px;
  text-decoration: none;
}

.button-edit{
  background: orange;
  border: none;
}

.button-delete{
  background: red;
  border: none;
}


form button:hover,
form input[type="submit"]:hover{
  background: rgba(53,103,164,0.8);
  border: 1px solid rgba(13,67,133,1);
  cursor:pointer;
}

form input[disabled]{
  opacity: 0.4;
}

.form-error{
  font-size: 13px;
  padding: 3px;
  background: red;
  color: white;
  margin-left: 5px;
}

.message{
  width: 50%;
  padding: 5px;
  border: 1px solid #eee;
}

.success{
  background: green;
  color: white;
}

.success a{
  color: white;
}

.failed{
  background: red;
  color: white;
}

/* Pagina de proyectos */

.project{
  list-style: none;
  display: block;
  float: left;
  width: 28%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.project a {
  text-decoration: none;
  color: black;
}

.project .image{
  width: 100%;
  height: 150px;
  overflow: hidden
}
.project img{
  width: 100%;
}

.confirm{
  display: block;
  font-weight: bold;
  margin-top: 20px;
}


/*
    ANIMACIONES
 */



 @keyframes enableButton{

   0% {
     background: violet;
   }
   30% {
     background: transparent;
   }
   60% {
     background: violet;
   }
   80% {
     background: transparent;
   }
   100% {
     background: violet;
   }
 }

 @keyframes disableButton{

   0% {
     background: transparent;
   }
   20% {
     background: violet;
   }
   40% {
     background: transparent;
   }
   70% {
     background: violet;
   }
   100% {
     background: transparent;
   }
 }

 @keyframes enableButtonSpan{

   0% {
     background: violet;
     color: white
   }
   30% {
     background: white;
     color: violet;
   }
   60% {
     background: violet;
     color: white;
   }
   80% {
     background: white;
     color: violet;
   }
   100% {
     background: violet;
     color: white;
   }
 }

 @keyframes disableButtonSpan{

   0% {
     background: white;
     color: violet;
   }
   20% {
     background: violet;
     color: white;
   }
   40% {
     background: white;
     color: violet;
   }
   70% {
     background: violet;
     color: white;
   }
   100% {
     background: white;
     color: violet;
   }
 }
 @keyframes enableCoverTop{
   0% {
     border: 3px solid violet;
     border-bottom: none;

   }
   30% {
     border: 3px solid transparent;
     border-bottom: none;
   }
   60% {
     border: 3px solid violet;
     border-bottom: none;
   }
   80% {
     border: 3px solid transparent;
     border-bottom: none;
   }
   100% {
     border: 3px solid violet;
     border-bottom: none;
   }
 }

 @keyframes disableCoverTop {
   0%{
     border: 3px solid transparent;
     border-bottom: none;
   }
   20%{
     border: 3px solid violet;
     border-bottom: none;
   }
   40%{
     border: 3px solid transparent;
     border-bottom: none;
   }
   70%{
     border: 3px solid violet;
     border-bottom: none;
   }
   100%{
     border: 3px solid rgb(249, 210, 249);
     border-bottom: none;
   }
 }

 @keyframes enableCoverBottom{
   0% {
     border: 3px solid violet;
     border-top: none;
   }
   30% {
     border: 3px solid transparent;
     border-top: none;
   }
   60% {
     border: 3px solid violet;
     border-top: none;
   }
   80% {
     border: 3px solid transparent;
     border-top: none;
   }
   100% {
     border: 3px solid violet;
     border-top: none;
   }
 }

 @keyframes disableCoverBottom {
   0%{
     border: 3px solid transparent;
     border-top: none;
   }
   20%{
     border: 3px solid violet;
     border-top: none;
   }
   40%{
     border: 3px solid transparent;
     border-top: none;
   }
   70%{
     border: 3px solid violet;
     border-top: none;
   }
   100%{
     border: 3px solid rgb(249, 210, 249);
     border-top: none;
   }
 }

 @keyframes enableButtonTriangle{
   0% {
     border-left: 15px solid violet;
     border-right: 15px solid violet;
     border-top: 20px solid violet;
   }
   30% {
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-top: 20px solid transparent;
   }
   60% {
     border-left: 15px solid violet;
     border-right: 15px solid violet;
     border-top: 20px solid violet;
   }
   80% {
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-top: 20px solid transparent;
   }
   100% {
     border-left: 15px solid violet;
     border-right: 15px solid violet;
     border-top: 20px solid violet;
   }
 }

 @keyframes disableButtonTriangle{
   0%{
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-top: 20px solid transparent;
   }
   20%{
     border-left: 15px solid violet;
     border-right: 15px solid violet;
     border-top: 20px solid violet;
   }
   40%{
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-top: 20px solid transparent;
   }
   70%{
     border-left: 15px solid violet;
     border-right: 15px solid violet;
     border-top: 20px solid violet;
   }
   100%{
     border-left: 15px solid rgb(249, 210, 249);;
     border-right: 15px solid rgb(249, 210, 249);;
     border-top: 20px solid rgb(249, 210, 249);;
   }
 }
 /*
     ANIMACIONES
  */
